<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style>body{ margin:0 100; background:whitesmoke; }</style>
    </head>
    <body style='text-align: center'>
        <h1>Leveraging Google Maps API, Breezometer, and Plotly</h1>

        <!-- *** Section 1 *** --->
        <h2>Real Time AQI for Every City in the World!</h2>
        <form method="POST">
                <input name="text">
                <input type="submit">
            </form>
        <iframe width="1000" height="550" frameborder="0" seamless="seamless" scrolling="no" \
src={{plot_url}}></iframe>

<html>