.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    padding: 0px;
}

.jtronstyle {
    margin-top: 0px; 
    margin-bottom: 0px;
     background-color: lightseagreen;
    text-align: center; 
}
